.borderCircle {
  border-radius: 9999px;
}

.padding {
  padding: 3px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button_github {
  padding-right: 10px;
}
.button_github:hover {
  transform: scale(1.20);
}
.button_linkedIn {
  padding-right: 10px;
  padding-left: 10px;
}
.button_linkedIn:hover {
  transform: scale(1.20);
}
.button_pdf {
  padding-right: 10px;
  padding-left: 10px;
}
.button_pdf:hover {
  transform: scale(1.20);
}

.center {
  display: block;
  text-align: center;
  position: absolute;
  right: 39%;
  bottom: 15%;
  color: inherit;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
}

.center:hover {
  text-decoration-color: #fff;
}
.underline{
  color: inherit;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
}
.underline:hover{
  text-decoration-color: #fff;

}